a{
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 50px;
    color: #000000;
    text-decoration: none;
    
    /* Flexbox for centering text vertically and horizontally */
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    height: 38vh;  /* Full height of the viewport */
    width: 100%;  /* Full width of the viewport */
    margin: 0;  /* Reset default margin */
    padding: 0;  /* Remove padding */
}

h1,h2,h3 {
    font-family: Helvetica, sans-serif;
    font-weight: bold;

    
    /* Flexbox for centering text vertically and horizontally */
    display: flex;
    justify-content: center;  /* Horizontally center */
    align-items: center;  /* Vertically center */
    margin: 25px;  /* Reset default margin */
    padding: 10px;  /* Remove padding */
}

a {
    color: black !important; 
    text-decoration: none !important;
}

a:visited {
    color: black !important;
    text-decoration: none !important;
}

a:hover {
    color: #000000 !important;
    text-decoration: none !important;
}

a:active {
    color: black !important;
    text-decoration: none !important;
}

.hover-effect-enabled a {
    font-size: 50px;
    transition: font-size 0.3s ease;
}

.hover-effect-enabled a:hover {
    font-size: 70px;
}


/* Prevent scrolling for the body with the class 'no-scrollbar' */
.no-scrollbar {
    overflow: hidden;
    margin: 0;  
    padding: 240px; 
}


/* Hover effect only enabled for the body with the class hover-effect-enabled */
.hover-effect-enabled h1, .hover-effect-enabled h2, .hover-effect-enabled h3 {
    font-size: 50px;
    transition: font-size 0.3s ease;
}

.hover-effect-enabled h1:hover, .hover-effect-enabled h2:hover, .hover-effect-enabled h3:hover {
    font-size: 70px;
}

/* No hover effect for the body with the class hover-effect-disabled */
.hover-effect-disabled h1, .hover-effect-disabled h2, .hover-effect-disabled h3 {
    font-size: 50px;
    /* No transition or hover effect for this page */
}

img {
    width: 10%; /* Adjust this percentage to resize the image */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block; /* Makes the image a block element */
    margin: 0 auto; /* Centers the image horizontally */
}
